/.DS_Store
node_modules/

# Node.js関連
node_modules/

# React関連
build/
dist/

# 環境変数ファイル
.env
.env.local
.env.*.local

# ログファイル
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# エディタ関連
.vscode/
.idea/
*.iml

# MacOS関連
.DS_Store

# テスト関連
coverage/
cypress/videos/
cypress/screenshots/

# その他
*.tmp
*.bak
*.swp
