.admin-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #333;
    color: #fff;
    border-bottom: 1px solid #666;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    z-index: 1000;

    .hamburger-menu {
        font-size: 1.5rem;
        background: none;
        border: none;
        cursor: pointer;
        color: #fff;
        margin-bottom: 0
    }

    div{
        height: 100%;
        display: flex;
        align-items: center;

        .logo{
            display: inline;
        }
    }

}
