// Common.scss

@import "./colors";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: $text-color;
    padding: 0;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

button {
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    color: $text-color;
    border: none;
    border-radius: 4px;
    background-color: $primary-color;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.back-button {
        margin-top: 20px;
        color: #555;
        background-color: #f0f0f0;

        &:hover {
            background-color: #e0e0e0;
        }
    }

    &:hover {
        background-color: $primary-darker;
    }

    &:disabled {
        background-color: #f0f0f0;
    }
}

input,
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;

    &:focus {
        border-color: $primary-darker;
        outline: none;
    }
}

label {
    font-weight: bold;
    font-size: 0.9em;
    margin-bottom: 4px;
}

/* エラーメッセージのスタイル */
.error-message {
    color: red;
    font-size: 0.9em;
    margin-bottom: 12px;
}

/* レスポンシブ対応 */
@media (max-width: 600px) {

    button,
    .back-button,
    .confirm-button {
        font-size: 0.9em;
        padding: 8px 16px;
    }
}