@import "./colors";

.reservation-confirmation {
    text-align: center;

    table {
        width: 100%;
        margin-top: 16px;
        border-collapse: collapse;

        th, td {
            padding: 8px;
            text-align: left;
            color: #555;
        }

        th {
            font-weight: bold;
            width: 30%;
            white-space: nowrap;
            text-align: right;
            padding-right: 16px;
        }

        td {
            width: 70%;
            text-align: left;
        }
    }

    .confirm-button {
        background-color: $primary-color;
        margin-top: 16px;
        padding: 10px 20px;

        &:hover {
            background-color: $primary-darker;
        }
    }
}

// レスポンシブ対応
@media (max-width: 600px) {

    .confirm-button {
        font-size: 0.9em;
        padding: 8px 16px;
    }

    table th, table td {
        font-size: 0.9em;
    }
}
