// src/styles/SettingsPage.scss

.settings-page {
    .form-row {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        label {
            width: 150px;
            margin-right: 20px;
            text-align: right;
        }

        input[type="text"],
        input[type="number"],
        input[type="file"],
        textarea,
        select {
            width: 100%;
            max-width: 300px;
            padding: 8px;
        }

        textarea {
            resize: vertical;
            height: 80px;
        }
    }

    button {
        padding: 10px 20px;
        font-size: 1em;
        cursor: pointer;
        margin-top: 20px;
    }
}
