// src/styles/SlotManagement.scss
@import "./colors";

.slot-confirmation {

    .date-list, .pattern-list {
        list-style: none;
        padding: 0;
        margin: 10px 0 20px 0;

        li {
            padding: 10px;
            background-color: #f1f1f1;
            border: 1px solid #ddd;
            border-radius: 4px;
            margin-bottom: 8px;
            font-size: 0.9em;
            color: $text-color;
        }
    }

}

.slot-selection, .admin-slot-selection {
    text-align: center;

    & .selectedDate{
        font-size: 1.2rem;
    }

    ul {
        list-style-type: none;
    }

    li {
        padding: 10px;
        margin: 8px 0;
        border: 1px solid #ddd;
        border-radius: 4px;

        &.selectable, &.selected {
            background-color: $primary-color;

            &:hover {
                background-color: $primary-darker;
            }
        }

        &.not-selectable {
            background-color: $secondary-color;
        }
    }
}
